<div class="jumbotron hidden-sm hidden-xs">
    <h1>قيراط</h1>

    <p>
        عن أبي هريرة رضي الله عنه عن النبي صلى الله عليه وسلم قال : (مَنْ صَلَّى عَلَى جَنَازَةٍ وَلَمْ يَتْبَعْهَا
        فَلَهُ قِيرَاطٌ ، فَإِنْ تَبِعَهَا فَلَهُ قِيرَاطَانِ ، قِيلَ :
        وَمَا الْقِيرَاطَانِ؟ قَالَ : أَصْغَرُهُمَا مِثْلُ أُحُدٍ) .
    </p>

    <p>
        وعن ثوبان مولى رسول الله صلى الله عليه وسلم أن رسول الله صلى الله عليه وسلم قال : (مَنْ صَلَّى عَلَى
        جَنَازَةٍ فَلَهُ قِيرَاطٌ ، فَإِنْ شَهِدَ دَفْنَهَا فَلَهُ قِيرَاطَانِ ، الْقِيرَاطُ مِثْلُ أُحُدٍ) رواه
        مسلم
    </p>

    <p>
        <a class="btn btn-primary pull-left visible-lg" href="{% url 'funeral:add' %}" role="button">اضافة صلاة
            جنازة &raquo;</a>
    </p>
</div>